h1{
    text-align:center;
    padding-top: 1rem;
}

.firstp{
      text-align:center;
      color:rgba(0, 0, 0, 0.486)
}

.row > [class^="col"] {
    border: 1px dashed;
    padding-top: 1rem;
    
}

